<section id="contactGroup" class="parallax_group">
  <div class="parallax_layer parallax_layer-back"></div>
  <div class="parallax_layer parallax_layer-base">
    
    <div class="contentWrap">

      <h2 id="contact">Contact</h2>
      
      <div class="social-links">
        {% for link in site.data.settings.social %}
        <a href="{{ link.link }}" class="icon-{{ link.icon }}"></a>
        {% endfor %}
      </div>
      
      <hr class="bar">
      
      <a class="biglink" href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a>
    
    </div>
      
  </div>
</section>