<footer id="footerGroup" class="parallax_group">
  <div class="parallax_layer parallax_layer-base">
    
    <div class="contentWrap footerWrap">

      <div class="lockup">
        
        <a href="{{ site.baseurl }}/" target="_parent" title="back to homepage"><span class="icon-twoDrops"></span></a>
        
        <div class="nav-wrap">
          <nav>
            {% for item in site.data.settings.menu %}
              <a href="/{{ item.url }}">{{ item.name }}</a>
            {% endfor %}
          </nav>
          
          <p class="copyright">&copy; 2015 <a href="http://www.2-Drops.com" target="_blank" title="Drop by the 2 Drops website">2 Drops</a>- Veteran Owned</p>
        </div>
        
      </div>
      
    </div>
    
  </div>
</footer>