<section id="scoopGroup" class="parallax_group">
  <div class="parallax_layer parallax_layer-back"></div>
  <div class="parallax_layer parallax_layer-base">
    
    <div class="contentWrap scoopWrap">

      <h2 id="scoop">Scoop On AMMO</h2>
      
      <div class="face-lockup">
        
        <div class="face-img"></div>
        <div class="icowrap-one"><span class="icon-wordpress"></span></div>
        <div class="icowrap-two"><span class="icon-html5"></span></div>
        <div class="icowrap-three"><span class="icon-css3"></span></div>
        <div class="icowrap-four"><span class="icon-play"></span></div>
        
      </div>
      
      <div class="blurb">
        {{ site.data.settings.blurb | markdownify }}
      </div>
      
    </div>
    
  </div>
</section>

<section id="skillGroup" class="parallax_group">
  <div class="parallax_layer parallax_layer-base">
    
    <div class="contentWrap">
    
      <h2 id="skill">Professional Stack</h2>
      
    </div>
    
  </div>
</section>