.face-lockup
  max-width: 780px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-between)
  
  .face-img
    border-radius: 50%
    background-size: cover
    background-position: center
    background-image: url(../img/#{$avatar-path})
    +size(250px)
    +order(3)
    
  [class^="icowrap-"]
    +size(100px)
    background: $bgcolor
    border-radius: 50%
    line-height: 100px
    text-align: center
    &.icowrap-one
      +order(1)
    &.icowrap-two
      +order(2)
    &.icowrap-three
      +order(4)
    &.icowrap-four
      +order(5)
    
    [class^="drops-"]
      color: $accent
      font-family: "2Drops"
      font-size: 50px
      line-height: inherit

@media screen and (max-width: 650px)
  .face-lockup
    display: block
    text-align: center
    
    div
      display: inline-block
    
    .face-img
      display: block
      background:
        position: center center
        repeat: no-repeat
      margin: 0 auto 30px
      
    [class^="icowrap-"]
      margin: 10px 9%
      



.blurb
  max-width: 620px
  padding: 0 20px
  margin: 50px auto
  font-size: 24px
  text-align: center
  font-weight: 300
  
  
  
.skill-lockup
  max-width: 540px
  margin: 100px auto
  color: #999
  +clearfix
  
  
  .skill-unit
    width: 270px
    float: left
  
  .skill-icons
    font-size: 0
    margin: 3px 0 30px
    
    .drops-twoDrops
      display: inline-block
      font-family: "2Drops"
      font-size: 14px
      +size(14px)
      color: $accent
      margin-right: 8px
      
      &:after
        content: ''
        display: block
        font-size: 10px
        +size(10px)
        background: #fff
    
    @for $i from 1 through 10
      &.skill-#{$i} span:nth-child(n+#{$i+1})
        @extend %skill-color
      

%skill-color
  color: $bgcolor
  
  


@media screen and (max-width: 541px)
  .skill-lockup
    width: 220px
    
    .skill-unit
      width: 220px 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
